@font-face {
  font-family: "iconfont"; /* Project id 4504104 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1713518044933') format('woff2'),
       url('iconfont.woff?t=1713518044933') format('woff'),
       url('iconfont.ttf?t=1713518044933') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiqiu:before {
  content: "\e6d0";
}

.icon-qingzhu-bobaoshiyong:before {
  content: "\e618";
}

.icon-qiqiu2:before {
  content: "\e689";
}

.icon-qingzhu2:before {
  content: "\e619";
}

.icon-qingzhu11:before {
  content: "\e603";
}

.icon-xiqingfenweiqingzhulihua:before {
  content: "\e65c";
}

.icon-qingzhu3:before {
  content: "\e606";
}

.icon-qingzhu4:before {
  content: "\e60e";
}

