page {
  // background-color: #EDA810;
}

.container {

  /* 扭蛋机 */
  .egg {
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 260rpx;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .egg .egg_ji {
    width: 80%;
    z-index: 3;
  }

  .egg .play {
    width: 80rpx;
    position: absolute;
    z-index: 4;
    top: 405rpx;
    left: 275rpx;
  }

  .egg .ball {
    width: 75rpx;
    position: absolute;
    z-index: 2;
  }

  .egg .ball_1 {
    top: 360rpx;
    left: 300rpx;
  }

  .egg .ball_2 {
    top: 365rpx;
    left: 360rpx;
  }

  .egg .ball_3 {
    top: 330rpx;
    left: 240rpx;
  }

  .egg .ball_4 {
    top: 350rpx;
    left: 420rpx;
  }

  .egg .ball_5 {
    top: 300rpx;
    left: 280rpx;
  }

  .egg .ball_6 {
    top: 300rpx;
    left: 340rpx;
  }

  .egg .ball_7 {
    top: 290rpx;
    left: 390rpx;
  }

  .egg .ball_end {
    top: 480rpx;
    left: 390rpx;
  }

  .weiyi_1 {
    animation: around1 1.5s linear infinite;
  }

  .weiyi_2 {
    animation: around2 1.5s linear infinite;
  }

  .weiyi_3 {
    animation: around3 1.5s linear infinite;
  }

  .weiyi_4 {
    animation: around4 1.5s linear infinite;
  }

  /* 位移 */
  @keyframes around {
    100% {
      -webkit-transform: rotate(-180deg)
    }
  }

  @keyframes around1 {
    0% {
      transform: translate(0rpx, 0rpx)
    }

    20% {
      transform: translate(-100rpx, -200rpx)
    }

    40% {
      transform: translate(40rpx, -280rpx)
    }

    60% {
      transform: translate(150rpx, -200rpx)
    }

    80% {
      transform: translate(150rpx, -50rpx)
    }

    100% {
      transform: translate(0, 0)
    }
  }

  @keyframes around2 {
    0% {
      transform: translate(0rpx, 0rpx)
    }

    20% {
      transform: translate(100rpx, -200rpx)
    }

    40% {
      transform: translate(-20rpx, -280rpx)
    }

    60% {
      transform: translate(-150rpx, -200rpx)
    }

    80% {
      transform: translate(-150rpx, -50rpx)
    }

    100% {
      transform: translate(0, 0)
    }
  }

  @keyframes around3 {
    0% {
      transform: translate(0rpx, 0rpx)
    }

    20% {
      transform: translate(180rpx, 10rpx)
    }

    40% {
      transform: translate(240rpx, -110rpx)
    }

    60% {
      transform: translate(100rpx, -240rpx)
    }

    80% {
      transform: translate(-50rpx, -130rpx)
    }

    100% {
      transform: translate(0, 0)
    }
  }

  @keyframes around4 {
    0% {
      transform: translate(0rpx, 0rpx)
    }

    20% {
      transform: translate(-180rpx, 10rpx)
    }

    40% {
      transform: translate(-240rpx, -110rpx)
    }

    60% {
      transform: translate(-100rpx, -240rpx)
    }

    80% {
      transform: translate(50rpx, -130rpx)
    }

    100% {
      transform: translate(0, 0)
    }
  }

  .saveBtn {

    background: #fff;
    border: 2rpx solid #333;
    color: #333;


    border-radius: 44rpx;
    width: 80%;
    height: 80rpx;
    text-align: center;
    line-height: 80rpx;
    font-size: 32rpx;
  }

  .gameResultWrapper {
    .gameResultView{
     animation: jelly 1s;
     animation-delay: 500ms;
    }
  }

  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }

    25% {
      transform: scale(0.9, 1.1);
    }

    50% {
      transform: scale(1.1, 0.9);
    }

    75% {
      transform: scale(0.95, 1.05);
    }
  }

}